body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff5f5;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #e2241d;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.article-title {
  color: #be0f1f;
}

img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
