body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fff9db;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  background-color: #ffe138;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
}

.avatar {
  border-radius: 50%;
  margin: 20px 0;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  margin-top: 50px;
}
